<div class="center jumbotron">
  <h1>Maestrano Test App</h1>

  <h2>
    Data received from Maestrano Impac!
  </h2>
</div>

<div ng-app="mnoApp">
  <p ng-controller="mnoController">{{ employeeListData }}</p>
</div>