<div class="center jumbotron">
  <h1>Maestrano Test App</h1>

  <h2>
    Data received from Maestrano Impac!
  </h2>
</div>

<div ng-app="mnoApp">
  <div ng-controller="mnoController">
    {{ employeeListData }}
    <p><%= @content %></p>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
  </p>
  
</div>