<div class="center jumbotron">
  <h1>Maestrano Test App</h1>

  <h2>
    Data received from Maestrano Impac!
  </h2>
</div>

<div ng-app="mnoApp">
  <script>
    <%= render "data_service.js.erb" %>
  </script>

  <div ng-controller="locationsController">
    <!--<p>{{ employeeListData }}</p>-->
  </div>
  
  <div ng-controller="mnoController">
    <p><%= @employeesList.to_json.html_safe %></p>
    <p><%= @employeeDetails.to_json.html_safe %></p>
    <p><%= @invoices.to_json.html_safe %></p>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
  </p>
  
</div>