<div class="row">
  <div class="head-title">
    <h1>
      <span class="mno-logo"></span>
      <div class="text-info">Maestrano Demo</div>
    </h1>
  </div>
</div>

<div class="row" ng-app="mnoApp">
  <script>
    <%= render "data_service.js.erb" %>
  </script>

  <div id="employee-locations-draggable" class="col-sm-6" ng-controller="EmployeeLocationWidgetController" class="widget">
    <div class="top-line">
      Employees location
    </div>
    <div class="content">
      <leaflet center="center" markers="markers" layers="layers" width="100%" height="300px" class="employees-locations"></leaflet>
    </div>
  </div>

  <div id="sales-flow-draggable" class="col-sm-6" ng-controller="SalesFlowWidgetController" class="widget">
    <div class="top-line">
      Sales flow
    </div>
    <div class="content">
      <leaflet center="center" markers="markers" layers="layers" width="100%" height="300px" class="invoices-locations"></leaflet>
    </div>
  </div>
</div>

<script>
  $(function() {
    $( "#employee-locations-draggable" ).draggable();
    $( "#sales-flow-draggable" ).draggable();
  });
</script>